/* - - - - - - - - - - - - - - - - - - - - - - - - 
FOOTER
- - - - - - - - - - - - - - - - - - - - - - - - */

footer {
  height: 30vh;
  width: 100vw;
  background-color: $primary-color;

  bottom: 0;
}
