/* - - - - - - - - - - - - - - - - - - - - - - - - 
DETAILS PAGE
- - - - - - - - - - - - - - - - - - - - - - - - */

.details-content {
  display: block;
  padding: 5rem 5vw 5rem 5vw;
}

.details-content p {
  width: 100%;
}

.article-box {
  background-color: $tertiar-color;
  height: 20rem;
}
