.about-content {
    display: block;
    padding: 5rem 5vw;
}

.about-content p {
  width: 100%;
}

.box {
  background-color: $tertiar-color;
  height: 20rem;
  width: 100%;
}

section {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  height: 18vh;
  margin: 2rem auto;
}

.pics {
  width: 40%;
  background-color: $tertiar-color;
  height: 8rem;
  margin-right: 1rem;
}

.words {
  overflow: scroll;
  padding-bottom: .5rem;
  height: 100%;
}

/*-----------Responsive----------*/

@media only screen and (max-width: 600px) {
  
  section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    margin-bottom: 5vw;
    flex-wrap: nowrap;
  }
  
  .words {
    width: 100%;
  }
  
  h3 {
    font-size: 1.5rem;
  }
  
  .pics {
    width: 100%;
    height: 50vw;
    display: block;
  }
  
  
}







